<img src='' onerror='get_rooms_config()'>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div id='room_list'>
				{{!--list rooms here--}}
			</div>
		</div>
		<div class="col-md-4">
			<div id='device_list'>
				{{!--when room selected list devices here--}}
			</div>
		</div>
		<div class="col-md-4">
			<div id="device_details">
		    	when device selected list device settings
			</div>
		</div>
	</div>
</div>