
	<div class="col-md-4">
		 <p>Welcome to ppsss!</p>
		 <div id='updates'></div>
		 <div id='game_progress'></div>
		<button type="button" class="btn btn-default btn-block">
			Default
		</button>
	</div>
	
	<div class="col-md-4">
		   <ul>
          {{#lusers}}
          <li>{{name}} - {{so}}</li>
            {{/lusers}}
        </ul>
        <div id ='game_status'><  
	</div>
</div>
	
	<div class="col-md-4">
	  <div id="messages"></div>
		<p>asdfghjkl </p>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
	</div>
</div>