<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							#ID
						</th>
						<th>
							Team Name
						</th>
						<th>
							# of Members
						</th>
						<th>
							Email
						</th>
						<th>
							Puzzle : Time
						</th>
					</tr>
				</thead>
				<tbody>

{{#teams}}
<tr>
	<td>
		{{id}}
	</td>
	<td>
		{{team_name}}
	</td>
	<td>
		{{members}}
	</td>
	<td>
		{{room_name}}
	</td>
	<td>
		{{email}}
	</td>
	<td>
		{{puzzle_name}} : {{time}}
	</td>
	<td>
		{{eventType}}
	</td>
	<td>
		{{data}}
	</td>
	<td>
		{{time}}
	</td>
</tr>
{{/teams}}

				</tbody>
			</table>
		</div>
	</div>
</div>