@font-face {
  font-family: "murderfont";
  src: url(/stylesheets/youmurdererbb_reg.ttf) format("truetype");
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clock {
  position: fixed;
  top: 50%;
  left: 40%;
}

.flip-clock-label{
  display:none;
}

.flip-clock-wrapper ul li a div div.inn {
  font-family: 'butcherman';
}

.message{
  color: white;
}

#countdownExample{
  font-family: 'murderfont';
  font-size: 30em;
  color: #830303;
  /* color: #83030347; */
  z-index: 1;
}

#cdMessage{
  font-family: 'murderfont';
  font-size: 15em;
  color: #830303;
  /* color: #83030347; */
  z-index: 1;
}

#chronoExample{
  display:none;
}



/* Background video stuff */
/* Style the video: 100% width and height to cover the entire window */
#videoBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

#intro_video {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: black;
}

#static_video {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: black;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    height: 100%;
  }
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  display:none;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*========= Overview screen=============
========================================  */
#overview_timer{
  font-size: 20em;
}

.hidden_timer{
  display: none;
  z-index: -1000;
}